<h1>Edit Member</h1>

<%= render 'form', post: @member %>


<tr>
<td><%= link_to 'Show', @member %></td>
<td><%= link_to 'Register', new_member_path %></td>
<td><%= link_to 'Back', members_path %></td>
</tr>